/*
Limonade, a theme for the awesome Shaarli.
Version: 1.0
Author: Mister aiR
URL: http://www.remitaines.com
License: BeerWare.
*/
@font-face {
    font-family: "mfg_labs_iconsetregular";
    src: url('/fonts/mfglabsiconset-webfont.eot');
    src: url('/fonts/mfglabsiconset-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/mfglabsiconset-webfont.woff') format('woff'),
         url('/fonts/mfglabsiconset-webfont.ttf') format('truetype'),
         url('/fonts/mfglabsiconset-webfont.svg#mfg_labs_iconsetregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "Cantarell-Regular";
	src: url('fonts/Cantarell-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal
}

body{
background:url("/images/background.png");
border:none;
margin:0;
text-align: left;
color: #0f0f0f;
font-style: normal;
font-variant:normal;
line-height: 1.78em;
font-weight: normal;
font-size:0.79em;
text-indent:1em;
font-family:"Cantarell-Regular", Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
}
button{cursor: pointer;}
a:link {color: #459D00;text-decoration:none;}  
pre{
border:solid 1px #ccc;
border-radius: 8px;
color:#888;
padding: 6px 12px;
text-indent:0;
line-height:1.8em;
font-size:1.4em;
white-space:pre-wrap;
}
:focus {outline: 0;}
img {
max-width: 100%;
height: auto;
}
input[type="text"],input[type="email"],textarea {
background: #fff;
border: 1px solid #ccc;
border-radius: 4px;
box-shadow: 1px 1px #fff;
padding: 2px 4px;
}
input[type="submit"] {
box-shadow: 1px 1px #fff;
background: #ccc;
border: solid 1px #ccc;
border-radius: 4px;
text-align: center;
text-shadow: 1px 1px #eee;
padding: 1px;
}
input[type="submit"].delete{background:#F34903;text-shadow: 1px 1px #D13C02;color:#fff;}
ul.ui-autocomplete {
    background: #fff;
    box-shadow: 0 0 3px #888;
    max-width: 350px;
}
ul.ui-autocomplete li{
text-decoration:none;
list-style:none;
cursor:pointer;
font-size: 0.9em;
text-align:left;
}

/*Alignements*/
#clear{
margin:0;
height:20px;
display:block;
}
/*Barre de Navigation*/
nav{
background:linear-gradient(180deg,#eee 0%, #E9E9E9 40%, #DFDFDF 100%);
position:relative;
width:100%;
padding: 0;
border-bottom:solid 1px #ccc;
box-shadow:0 -1px #fff inset;
}
.paging{text-align:center;}
#navCenter{
background:transparent;
position:relative;
margin: 0 auto;
width:100%;
max-width:900px;
min-height:38px;
transition-duration: 0.15s;
}
#navMenu{
display:none;
position: relative;
width: 100%;
transition-duration: 0.15s;
min-height:50px;
}
.big{height:}
.big >  #navMenu{display:block}
.big > .menuButton-1{display:none}
.big > .menuButton-2{display:block}
.menuButton-1,.menuButton-2{
border:none;
color:#fff;
left:0;
bottom:0;
font-size: 24px;
line-height: 40px;
position: absolute;
text-shadow: 1px 1px #000;
background: none;
z-index:2;
height:38px;
}
.menuButton-1:before, .menuButton-2:before{content:"\f008";font-family: "mfg_labs_iconsetregular";}
.menuButton-2{display:none}
#navMenu ul{list-style:none;text-align: center;margin:0 auto}
#navMenu ul li a{color:#fff;}
#navMenu ul li{
background:url("/images/background.png");
border-radius: 0 0 4px 4px;
box-shadow:0 0 5px #000000, -1px -1px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 2px #000 inset;
text-shadow: 1px 1px #222222;
display: inline-block;
padding: 0 12px 0 4px;
margin:0 2px 8px 0;
}
ul.navButtons {
list-style:none;
text-align: right;
margin:0;
position:relative;
padding-top:4px;
height:34px;
overflow:hidden;
}
ul.navButtons li a{color:#459D00;}
ul.navButtons li{
padding-right:10px;
background:rgba(15, 15, 15, 0.45);
border-radius:4px 4px 0 0;
border-left: 1px solid rgba(255, 255, 255, 0.15);
border-right: 1px solid rgba(255, 255, 255, 0.15);
border-top: 1px solid rgba(255, 255, 255, 0.15);
box-shadow: 1px 0 #000000, -1px -1px #000000;
display: inline-block;
}
button#logo {
display:block;
line-height: 0.12em;
bottom:-10px;
left:52px;
position:absolute;
text-align:center;
background: url("/images/background.png");
border-radius: 6px 6px 0 0;
border-top: 1px solid rgba(255, 255, 255, 0.15);
border-left:none;
border-right:none;
border-bottom:none;
box-shadow: 0 -2px 2px #000000;
height: 44px;
padding: 2px 10px;
font-size: 1.1em;
line-height: 1px;
margin-left: -13px;
text-shadow: 2px 2px #000000;
color:#fff;
z-index:3;
}
button#logo p {
position: relative;
float: right;
line-height: 0.7em;
font-size: 1.18em;
text-indent: 0.2em;
}
.site-title a{color:#222;line-height: 0.4em;}
.large > #searchform{display:block}
.large > .searchButton-1{display:none}
.large > .searchButton-2{display:block}
.searchButton-1,.searchButton-2{
border:none;
background:none;
color:#222;
font-weight: lighter;
float:right;
font-size: 28px;
line-height: 40px;
position: relative;
text-shadow: 1px 1px #FFFFFF;
}
.searchButton-1:before,.searchButton-2:before{font-size: 0.9em;content:"\F50D";font-family: "mfg_labs_iconsetregular";}
.searchButton-2{display:none}

/*Menu Content*/
a[href="?do=login"],a[href="?do=logout"],a.addLink,a.search,a[href="?do=configure"]{
font-family: "mfg_labs_iconsetregular";
font-size: 15px;
line-height: 2.1em;
text-shadow: 1px 1px #000000;
}
a[href="?do=login"]:after,a[href="?do=logout"]:after,a.addLink:after,a.search:after,a[href="?do=configure"]:after{
font-family: "Cantarell-Regular",Helvetica,Arial,sans-serif;font-size: 0.8em;
}
a[href="?do=login"]:after{content: " Connexion";}
a[href="?do=logout"]:after{content: " Déconnexion";}
a.addLink:after{content: " Ajouter un lien";}
a.search:after{content: " Chercher";}
a[href="?do=configure"]:after{content: " Paramètres";}
a.addLink,a.search{color:#fff !important}

/*Article*/
article{
background:#eee;
position:relative;
float:left;
width:100%;
padding: 0;
}
h2.linktitle {margin: 0 0 14px 0;}
h2.linktitle a:link {
color: #333;
display: block;
font-size:0.88em;
text-align: center;
text-shadow: 1px 1px #fff;
}
.thumbnail{display:block;text-align:center;}
.thumbnail a{
background:#dfdfdf;
border: 1px solid #ccc;
border-radius: 8px;
box-shadow: 1px 1px #fff;
overflow: hidden;
max-width:600px;
display:inline-block;
}
.thumbnail a img{display: block;}

/*Header*/
header{
position:relative;
width:100%;
background:  rgba(15, 15, 15, 0.75);
border-bottom: 1px solid rgba(255, 255, 255, 0.25);
box-shadow: 0 4px 3px #000000 inset, 0 -4px 3px #000000 inset;
}

/*Wrap*/
#wrap{
background:#eee;
border-radius: 6px;
max-width:900px;
margin: 0 auto 24px;
position:relative;
padding: 0;
overflow:hidden;
box-shadow:0 0 12px rgba(0, 0, 0, 0.85);
}
#add,#search{
background:linear-gradient(180deg, #EEEEEE 0%, #E9E9E9 40%, #DFDFDF 100%) repeat scroll 0 0 #eee;
border-radius: 6px;
max-width:900px;
margin: 0 auto 20px;
position:relative;
padding: 10px 0;
overflow:hidden;
box-shadow:0 0 12px rgba(0, 0, 0, 0.85);
}
.none{display:none}
.show{display:block}
a.addLink,a.search{cursor:pointer}
ul.sectionBottom {
background:linear-gradient(0deg, #EEEEEE 0%, #E9E9E9 40%, #DFDFDF 100%) repeat scroll 0 0 #eee;
border: 1px solid #ccc;
border-radius: 8px;
box-shadow: 1px -1px #fff;
display: block;
font-size: 0.9em;
margin: 0 auto;
line-height:2.6em;
}
ul.sectionBottom li {
list-style: none;
display: inline;
}
#permalinkQrcode {
border-radius: 8px;
background: #fff;
width: 195px;
overflow: hidden;
margin:4px auto;
position:relative;
border: solid 1px #ccc;
text-align: center;
padding-top: 8px;
box-shadow: 1px 1px #fff;
}

/*Section*/
section.article{overflow:hidden}
section{
background:linear-gradient(180deg,#eee 0%, #E9E9E9 80%, #DFDFDF 100%);
max-width:900px;
margin: 0 auto;
position:relative;
padding: 12px 24px;
border-bottom:solid 1px #ccc;
box-shadow:0 1px #fff;
z-index:1;
}
.sectionCentrage{
padding:44px;
position:relative;
text-align:justify;
}
a.Tag {margin-right: 6px;}
a.Tag:before{
font-family: "mfg_labs_iconsetregular";
font-size: 1.2em;
letter-spacing: 2px;
color:#222;
content:"\F531";
}
a.Tag[href="?addtag="]:before {content:""}
.linksPpages{
position:relative;
min-height:35px;
color:#333;
font-size:0.92em;
line-height:3em;
width:100%;
background:linear-gradient(0deg, #aaa 0%, #ccc 18%, #ccc 100%) repeat scroll 0 0 #eee;
border-bottom: 1px solid #aaa;
box-shadow: 0 1px #fff;
}
.linksPages{
font-size:0.92em;
line-height:3em;
min-height:35px;
color:#333;
}
h3.linkCount {
color: #8C8C8C;
text-align: center;
text-shadow: 1px 1px #fff;
}
blockquote {
border-left: 8px solid #ccc;
color:#222;
margin: 1.5em 10px;
display:inline-block;
}

/*Section Index*/
.navigation {
text-align: center;
}
.navigation a{
color:#222;
}
section.navigation ul li {
display: inline;
list-style: none outside none;
}
li.active a {
background: #222;
color: #fff;
padding: 4px;
}
.arrowNext a, .arrowPrevious a{
color: #222;
font-family: "mfg_labs_iconsetregular";
font-size: 3em;
position: absolute;
text-shadow: 1px 1px #ccc;
top: 0.3em;
}
.arrowPrevious a{left: 0}
.arrowNext a{right: 8px}

/*Edition*/
a.private:before{
font-family: "mfg_labs_iconsetregular";
content: "\F510";
color:#8C8C8C;
}
a.public:before{
font-family: "mfg_labs_iconsetregular";
content: "\F075";
color:#8C8C8C;
}
.button_edit,.button_delete{
font-family: "mfg_labs_iconsetregular";
}
.linkeditbuttons {
background: #ccc;
display: block;
float: left;
border-radius: 0 4px 4px 0;
box-shadow: 1px 1px #FFFFFF, -2px 1px 2px #aaa inset;
padding: 10px 10px 10px 0;
position: relative;
margin-left: -24px;
margin-right: 10px;
}

/*PictureWall*/
.picwall_container {
background:rgba(15, 15, 15, 0.65);
border-top: 1px solid rgba(255, 255, 255, 0.25);
box-shadow: 0 4px 4px #000 inset;
display: table;
width: 100%;
}
.picwall_pictureframe {
border: 8px solid #000;
border-radius: 18px;
box-shadow: 0 0 8px #000;
display: table-row;
float: left;
margin: 10px 18px;
max-width: 300px;
overflow:hidden;
position:relative;
}
.picwall_pictureframe img{float:left;border-radius:12px}
span.info {
background:rgba(15, 15, 15, 0.85);
bottom: 0;
color: #fff;
left: 0;
position: absolute;
text-align: center;
width:100%;
}
.wallFooter > footer{
background: none repeat scroll 0 0 #0F0F0F;
border: medium none;
box-shadow: 0 4px 4px #000000 inset,0 1px rgba(255,255,255,0.25);
color: #FFFFFF;
}

/*Daily*/
div#wrap.daily{border-radius:0;background:#fff}
div#wrap.daily a{color:#222}
section.daily {
background: #fff;
display:table;
min-width:800px;
}
nav.daily {
background: #fff;
border: none;
text-align: center;
}
nav.daily h1{
font-size: 56px;
line-height: 55px;
}
#daily_col1, #daily_col2, #daily_col3 {
display: table-row;
float: left;
position: relative;
max-width:255px;
}
#daily_col2{
margin:0 22px
}
.dailyEntry{
border-top:solid 4px #222;
margin-top: 22px;
text-align: justify;
}
.dailyEntry h2 a {
color: #222;
text-align: center;
}
.dailyEntryTags {
font-style: italic;
}
.dailyEntryThumbnail img {
display: block;
border: solid 4px #222;
margin: 0 -4px;
}
.footerDaily > footer{
background:#fff;
border-top:solid 1px #222;
box-shadow: 0 0 0;
}

/*Footer*/
footer{
position:relative;
min-height:35px;
color:#333;
font-size:0.92em;
text-align:center;
line-height:3em;
width:100%;
background:linear-gradient(180deg, #aaa 0%, #ccc 18%, #ccc 100%) repeat scroll 0 0 #eee;
border-top: 1px solid #aaa;
box-shadow: 0 -1px #fff;
}

/* ----------------------------- */
/* Small Screens */
/* ----------------------------- */
@media (max-width:900px) {
#wrap {border-radius:0;margin: 0 auto 0;}
}
@media (max-width:856px) {
#daily_col1, #daily_col2, #daily_col3{max-width:350px;width:44%}
section.daily{min-width:1px}
}
@media (max-width:720px) {
a[href="?do=login"]:after, a[href="?do=logout"]:after, a.addLink:after, a.search:after, a[href="?do=configure"]:after{content:"";}
.thumbnail a img{height:auto;width:100%;border-radius:0}
}
@media (max-width:410px) {
#daily_col1, #daily_col2, #daily_col3{width:99%}
section.daily{display:block}
#daily_col2{margin:0}
}
@media (max-width:340px) {
.picwall_pictureframe img{height:auto;width:100%;}
}
